body {
    width:65%;
    margin:0 auto;
    padding-top:15px;
}

.scrollable {
    width:500px;
    height:500px;
    border:2px solid black;
    display:inline-block;
    overflow: scroll;
}

.widget {
    margin-top:5px;
}

.inline-btn {
    display:inline-block;
    width:25px;
    margin-top:5px;
}

form {
    display:inline-block;
    vertical-align:top;
    padding:10px;
    width:100px;
}

form select, form button {
    width:100%;
    margin-top:15px;
}

td {
    border:1px solid black;
}

td:hover {
    border:1px solid blue;
}

.goal {
    background:blue;
}

.start {
    background:red;
}

.wall {
    background:black;
}
